*{
    transition: all 0.2s;
}

body{
    margin: 0;
    /* background-image: url('../assets/background.jpg'); */
    background-color: rgb(18, 17, 19);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* .page_loading{
    filter: brightness(0.1);
} */