.nav_bar{
    background-color: rgba(55, 199, 55, 0.854);
    width: 100%;
    overflow: hidden; 
}

.nav_bar img{
    margin-top: -10rem;
}

.nav_container{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
}

.modules_heading{
    margin:1rem 0rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
    background-color: rgb(0, 174, 255);
    background-color: rgba(163, 13, 196, 0.719);
}

.top_modules_heading{
    margin-top: 0rem;
}

.modules_container{
    display: flex;
    gap: 1rem;
    padding: 0rem 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.games_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameView{
    background-color: rgba(0, 0, 0, 0.884);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding-top: 5rem;
    top: 0;
    left: 0;
    z-index: 5;
}

.games_intro{
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-width: 60rem;
    flex-wrap: wrap;
}

.game_card{
    width: 24rem;
    height: 11rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    border: 0.3rem solid rgb(20, 69, 22);
    cursor: pointer;
}

.game_card:hover{
    border: 0.3rem solid rgb(27, 37, 26);
}

.game_card img{
    position: absolute;
    width: 105%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.5);
}

.game_card:hover img{
    filter: brightness(0.4);
    width: 110%;
}

.game_card_info{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    color: aliceblue;
    width: 100%;
}

.game_card_info h1{
    padding-left: 1rem;
}

.game_card_info p{
    padding-left: 1rem;
    padding-right: 1rem;
}

.external_game{
    margin-top: 2rem;
}

.bottom_bar{
    margin-top: 2rem;
    background-color: rgba(163, 13, 196, 0.719);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding-top: 4rem;
}

.foot_info{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.bottom_info_container{
    background-color: rgb(203, 201, 59);
    border-bottom: 1rem solid rgb(165, 146, 0);
    padding: 1rem;
    border-radius: 0.3rem;
    max-width: 18rem;
}

.bottom_info_container h1{
    margin: 0;
    font-size: 1.2rem;
}

.bottom_kids_img_container{
    overflow: hidden;
}

.bottom_kids_img{
    max-width: 30rem;
    transform: translate(0rem, 7rem);
}

.tooltip_title{
    cursor: pointer;
}

.tooltip_title{
    background-color: rgb(230, 223, 180);
    padding: 0rem 0.5rem;
}

.tooltip_container{
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.708);
}

.tooltip_wrapper{
    position: relative;
    padding : 2rem 2rem 4rem 2rem;
    color: rgb(50, 60, 69);
    font-weight: bold;
    width: 20rem;
    margin: 0 auto;
    margin-top: 50vh;
    transform: translate(0, -50%);
    border-bottom: 1rem solid rgb(68, 68, 139);
    border-radius: 0.2rem;
    background-color: rgb(156, 156, 204);
}

.tooltip_close_btn{
    background-color: rgb(113, 73, 73);
    border: 0;
    border-bottom: 0.4rem solid rgb(70, 46, 46);
    color: rgb(195, 176, 176);
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.tooltip_close_btn:hover{
    background-color: rgb(97, 73, 41);
}

@media only screen and (max-width: 768px) {
    .modules_container{
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content:start;
    }
}