/* Intro Container */

.intro_container{
    box-sizing: border-box;
    /* background-color: rgb(56, 147, 147); */
    margin: 2rem;
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-around
}

.intro_text_container{
    box-sizing: border-box;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 45rem;
}

.intro_text{
    font-size: 2.3rem;
    color: rgb(63, 46, 11);
    font-family: 'Gloria Hallelujah', cursive;
}

.loginsignup_container{
    display: flex;
    gap: 1rem;
}

.intro_video_container{
    width: 25rem;
    height: 25rem;
    /* background-color: beige; */
    position: relative;
}

.intro_video_container img{
    position: absolute;
    width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro_video_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.intro_video_icon img{
    width: 5rem;
    height: 5rem;
}

.intro_video_icon:hover{
    transform: scale(1.2) translateX(-40%) translateY(-40%);
}

/* Course Container */

.float-layout {
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
}
  
.course_container {
    overflow: hidden;
    margin: 2rem;
    box-shadow: 0rem 0rem 2rem 0.2rem rgba(255, 202, 124, 0.749);
    border-radius: 0.5rem;
}
  
.course_intro_text {
    box-sizing: border-box;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: black;
    min-height: 100%; /*replace this it in width: 100%*/
    width: 50%;
    float: right;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  
.course_intro_title {
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    font-family: 'Gloria Hallelujah', cursive;
}
  
.course_intro_desc {
    padding: 1rem;
    text-align: left;
    font-size: 1.2rem;
    min-width: 20rem;
}
  
/*add this it*/
.course_intro_image {
    display: flex;
}

/*-------------*/
  
.course_intro_image_container {
    position: relative;
    overflow: hidden;
    height: fit-content;
    background-color: #26a312;
}

.course_intro_image_container .course_bg_image{
    height: 25rem;
}

.course_stars_container{
    box-sizing: border-box;
    position: absolute;
    height: 3rem;
    width: 80%;
    background-color: #00000088;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 0rem 50rem 50rem 0rem;
}

.course_stars_container img{
    height: 5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.complete_progress_bar{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    height: 50%;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); 
    z-index: 1;
    border-radius: 0rem 50rem 50rem 0rem;
}
  
/* Phone Devices Query */
@media only screen and (max-width: 37.5em) {
    div.course_intro_image .course_bg_image {
        width: 100%;
        height: auto;
    }
    
    /*add this it*/
    .course_intro_image {
        flex-direction: column;
    }
    /*----------------------*/
  
    .course_intro_text {
        width: 100%;
        margin-top: -4px;
    }
}

/* zig-zag break */

.zig_zag_break{
    background-color: beige;
    z-index: 2;
}

/* Games container */

.mini_games_container{
    margin-top: -4rem;
    background-color: #ff9742;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

/* unknown */

.games_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.gameView{
    background-color: rgba(0, 0, 0, 0.884);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding-top: 5rem;
    top: 0;
    left: 0;
    z-index: 5;
}

.games_intro{
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-width: 60rem;
    flex-wrap: wrap;
}

.game_card{
    width: 24rem;
    height: 11rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    border: 0.3rem solid rgb(20, 69, 22);
    cursor: pointer;
}

.game_card:hover{
    border: 0.3rem solid rgb(27, 37, 26);
}

.game_card img{
    position: absolute;
    width: 105%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.5);
}

.game_card:hover img{
    filter: brightness(0.4);
    width: 110%;
}

.game_card_info{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    color: aliceblue;
    width: 100%;
}

.game_card_info h1{
    padding-left: 1rem;
}

.game_card_info p{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* .external_game{
    margin-top: 2rem;
} */

.bottom_bar{
    margin-top: 2rem;
    background-color: rgba(163, 13, 196, 0.719);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding-top: 4rem;
}

.foot_info{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.bottom_info_container{
    background-color: rgb(203, 201, 59);
    border-bottom: 1rem solid rgb(165, 146, 0);
    padding: 1rem;
    border-radius: 0.3rem;
    max-width: 18rem;
}

.bottom_info_container h1{
    margin: 0;
    font-size: 1.2rem;
}

.bottom_kids_img_container{
    overflow: hidden;
}

.bottom_kids_img{
    max-width: 30rem;
    transform: translate(0rem, 7rem);
}

.tooltip_title{
    cursor: pointer;
}

.tooltip_title{
    background-color: rgb(230, 223, 180);
    padding: 0rem 0.5rem;
}

.tooltip_container{
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.708);
}

.tooltip_wrapper{
    position: relative;
    padding : 2rem 2rem 4rem 2rem;
    color: rgb(50, 60, 69);
    font-weight: bold;
    width: 20rem;
    margin: 0 auto;
    margin-top: 50vh;
    transform: translate(0, -50%);
    border-bottom: 1rem solid rgb(68, 68, 139);
    border-radius: 0.2rem;
    background-color: rgb(156, 156, 204);
}

.tooltip_close_btn{
    background-color: rgb(113, 73, 73);
    border: 0;
    border-bottom: 0.4rem solid rgb(70, 46, 46);
    color: rgb(195, 176, 176);
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.tooltip_close_btn:hover{
    background-color: rgb(97, 73, 41);
}

@media only screen and (max-width: 768px) {
    .modules_container{
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content:start;
    }

    .intro_video_container>img{
        width: 25rem;
    }
}