/* body{
    overflow: hidden;
} */

.scene_view{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #080808ea;
}

.scene_backImage{
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: brightness(100%);
}

.scene_frontImage{
    position: absolute;
    height: 80%;
    bottom: -4rem;
    left: 3rem;
}

.scene_info{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    /* background-color: aquamarine; */
}

.scene_text{
    background-color: #8e632bea;
    color: rgb(226, 214, 188);
    padding: 2rem;
    font-size: 1.5rem;
    border-top: 1rem solid #7F5119;
    border-radius: 0.5rem;
}

.nav_btn_container{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.home_button_container{
    top: 1rem;
    right: 3rem;
    position: absolute;
}

.test_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgb(69, 51, 23);
    padding: 2rem;
    color: white;
    border-radius: 0.5rem;
    border-left: 1rem solid rgb(63, 32, 18);
    border-right: 1rem solid rgb(63, 32, 18);
}

.test_container h1{
    font-size: 1.5rem;
}

.options_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.option_button{
    border: 0rem;
    background-color: rgb(252, 191, 111);
    color: rgb(46, 33, 22);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.2rem;
    border-bottom: 0.5rem solid rgb(134, 84, 34);
    padding: 0.5rem;
    width: 70%;
    cursor: pointer;
}

.option_button:hover{
    background-color: rgb(212, 143, 53);
}

.option_desc_shadow{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.902);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.option_description{
    background-color: rgb(31, 46, 147);
    padding: 2rem;
    color: rgb(255, 255, 255);
    max-width: 50vw;
    position: relative;
    border-radius: 1rem;
}

.score_change_indicator{
    position: absolute;
    top: 0rem;
    left: 0rem;
    transform: translate(-50%, -50%);
    padding : 1rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.score_change_indicator_pos{
    background-color: rgb(9, 139, 9);
}

.score_change_indicator_neg{
    background-color: rgb(255, 0, 0);
}

.answer_status{
    text-align: center;
    padding: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.answer_correct{
    background-color: rgb(4, 158, 4);
}

.answer_wrong{
    background-color: rgb(174, 32, 32);
}

.score_container{
    background-color: rgb(36, 16, 63);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.option_explanation{
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    *{
        font-size: 0.9rem;
    }
    .scene_frontImage{
        right: -3rem;
        left: auto;
        height: 60%;
    }
    .scene_backImage{
        width: auto;
        height: 100%;
        transform: translate(-50%, 0);
    }
    .scene_text{
        background-color: rgba(51, 33, 62, 0.904);
        color: rgb(161, 114, 188);
        font-size: 1rem;
    }
    .test_container{
        top: 4rem;
        transform: translate(-50%, 0%);
        width: 80vw;
    }
    .test_container h1{
        font-size: 1.5rem;
    }
    .option_button{
        font-size: 1rem;
    }
    .home_button{
        z-index: 2;
    }

    .option_description{
        width: 80%;
    }
}